@font-face {
    font-family: "Gilam";
    src: url("../fonts/Gilam-BlackDEMO.woff2") format("woff2"),
    url("../fonts/Gilam-BlackDEMO.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body, h1, h2, p {
    font-family: "Gilam", sans-serif;
}
.page-body {
    background-color: #171717;
    font-family: sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1460px;
}
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 120px;
}
.callback {
    display: flex;
    align-content: center;
    align-items: center;
}
.callback-link {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-position: bottom 19px left 26px;
    background-size: 13px 13px;
    padding: 10px 25px 10px 49px ;
    border: 1px solid #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-transform: capitalize;
    text-decoration: none;
}
.block-one {
    margin-bottom: 160px;
}
.work-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 40px;
}
.work-subtitle {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.work-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template-rows: 466px 466px;
    grid-template-columns: repeat(6, 1fr);
    gap: 27px 24px;
    align-items: stretch;
}
.work-item {
    display: grid;
    color: #FFFFFF;
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-content: center;
}
.item-one {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #634F2C;
}
.item-two {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #B4A385;
    padding-left: 44px;
    padding-right: 43px;
}
.item-three {
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: #E4B564;
}
.item-four {
    grid-column-start: -7;
    grid-column-end: -4;
    background-color: #635A4A;
}
.item-five {
    grid-column-start: -4;
    grid-column-end: -1;
    background-color: #B08C4D;
}
.block-two {
    margin-bottom: 190px;
}
.technics-title {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 94px;
    margin-top: 0;
}
.technics-list {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    flex-direction: column;
    height: 910px;
    gap: 30px
}
.technics-item {
    width: 467px;
}
.bold {
    font-weight: 700;
    color: white;
}
.item-1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 113px 219px 52px;
    background-color: #0E0E0E;
}
.item-2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 56px 113px 479px 52px;
    background-color: #1F1F1F;
}
.item-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 244px 48px;
    background-color: #0E0E0E;
}
.item-4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 114px 345px 51px;
    background-color: #242424;
}
.item-5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 47px 113px 333px 52px;
    background-color: #E4B564;
    color: #000000;
}
.item-6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 186px 48px;
    background-color: #1F1F1F;
}
.item-7 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding: 44px 117px 208px 48px;
    background-color: #0A0909;
}
.clients {
    padding-top: 172px;
    padding-bottom: 240px;
    background-color: #0E0E0E;
    width: 100%;
}
.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.clients-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin: 0;
}
.clients-link {
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    padding: 10px 39px 10px 40px;
    text-decoration: none;
}
.clients-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 391px 391px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.clients-item-1 {
    background-color: #634F2C;
    padding: 171px 151px 171px 151px ;
}
.clients-item-2 {
    background-color: rgba(232, 210, 171, 0.76);
    color: #FFFFFF;
}
.clients-item-2-link {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.clients-item-2-logo {
    padding-top: 68px;
    padding-bottom: 3px;
}
.clients-item-2-logo2 {
    padding-bottom: 16px;
}
.clients-item-2-description {
    margin: 0;
    padding: 0 86px 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.clients-item-3 {
    background-color: #E4B564;
    padding: 174px 148px 175px 149px;
}
.clients-item-4 {
    background-color: #635A4A;
    padding: 174px 148px 175px 149px;
}
.clients-item-5 {
    background-color: #B08C4D;
    padding: 169px 183px 169px 184px;
}
.clients-item-6 {
    background-color: #634F2C;
    padding: 171px 151px 171px 151px;
}